# Git Aliases
alias ga="git add"
alias gc="git commit"
alias gp="git pull"
alias gd="git diff"
alias gch="git checkout"
alias gst="git status"
alias gp="git push -u origin master"
alias gpo="git push origin"

# Commands
alias v="vim"
alias l="ls"
alias la="ls -a"
alias e="exit"

# CD
alias c="cd ~/Github/CompetitiveProgramming"
alias h="cd ~"

