#!/bin/bash

# shortcuts
alias c="cd ~/src/solutions"
alias gh="cd ~/src"
alias fun="cd ~/fun"
alias jac="cd ~/'JAC CompSci'"
alias z="cd ~/src/notes"

# Easier navigation: .., ..., ...., ....., ~ and -
# from https://github.com/mathiasbynens/dotfiles/blob/main/.aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# git
alias ga="git add"
alias gc="git commit"
alias gca="git commit --amend --no-edit"
alias gd="git diff"
alias gch="git checkout"
alias gst="git status"
alias gp="git push -u origin master"
alias gpf="git push -f origin master"
alias gpo="git push origin"
alias gb="git branch"
alias gcb="git checkout -b"
alias gap="git add -p"
alias gbd="git branch --delete"

# ls
alias l="ls"
alias ll="ls -lah"
alias la="ls -a"
alias sl="ls"
alias lt="tree -L 1"

# vim
alias v="nvim"
alias vi="nvim"
alias ov="vim"

# one letter
alias e="exit"
alias g="git"
alias j="just"
alias m="tmux"

# pipenv shortcut
alias pv="pipenv"

# clean out all ongoing tmux sessions
alias trm="tmux kill-server"

# launch mysql in docker
alias mysql="docker container exec -it mysql /bin/bash"

# docker compose up shortcut
alias dc="docker-compose up -d"

# reload the shell
alias reload="exec ${SHELL} -l"

# open new chrome window
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'

# open cordless
alias discord='cordless'

# open last modified vim file
alias lv='nvim -c "normal '\''0" -c bd1'

# open .vimrc
alias evrc='nvim ~/dotfiles/.vimrc'

# upgrade pip
alias upip='pip install --upgrade pip'

# source ~/.bash_profile
alias sb='source ~/.bash_profile'

# get wifi password
alias wifi='wifi-password'

# spinning globe
alias gl='globe -s'

# search aliases with fzf
alias sra='alias | fzf'
