#!/bin/bash

# shortcuts
alias c="cd ~/Github/CompetitiveProgramming"
alias gh="cd ~/Github"

# Easier navigation: .., ..., ...., ....., ~ and -
# from https://github.com/mathiasbynens/dotfiles/blob/main/.aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# git
alias ga="git add"
alias gc="git commit"
alias gp="git pull"
alias gd="git diff"
alias gch="git checkout"
alias gst="git status"
alias gp="git push -u origin master"
alias gpo="git push origin"
alias gb="git branch"
alias gcb="git checkout -b"

# ls
alias l="ls"
alias ll="ls -lah"
alias la="ls -a"

# commands
alias v="vim"
alias e="exit"
alias g="git"

# reload the shell
alias reload="exec ${SHELL} -l"
# open new chrome tab
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
# cordless is sick 
alias discord='cordless'
