#!/bin/bash

# ───────────────────────────────────────────────────────────────────────────│─╗
# │ Code execution                                                         ─╬─│┼
# ╚────────────────────────────────────────────────────────────────────────────│

# Run last modified file in directory (C++, Python, Java)
function r() {
    file="$(ls -t | head -n 1)"
    case "$1" in
        p)
           python3 "$file"
           ;;
        j)
            javac "$file" && java "${file%.*}"
            ;;
        *)
            g++ -std=c++17 "$file" && ./a.out;
            rm -rf a.out;
    esac
}

function run() {
  g++ -std=c++17 "$@" && ./a.out;
}

function py() {
  python3 "$@";
}

function rs() {
  cargo run "$@";
}

function hs() {
 file="$*"
 ghc "$file" && ./"${file%%.*}";
}

# ───────────────────────────────────────────────────────────────────────────│─╗
# │ File system                                                            ─╬─│┼
# ╚────────────────────────────────────────────────────────────────────────────│

# Create and CD into directory
function mkcd() {
  mkdir -p "$@" && cd "$@" || exit
}

# Open file in chrome
function oc() {
  open -a "Google Chrome" "$@"
}

# Open directory
function o() {
	if [ $# -eq 0 ]; then open .; else open "$@"; fi;
}

# See absolute path
function realpath() {
    [[ $1 = /* ]] && echo "$1" || echo "$PWD/${1#./}"
}

# Determine size of a file or total size of a directory
# from https://github.com/mathiasbynens/dotfiles/blob/main/.functions
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$*" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# LS through bat
function bls() {
    if [ $# -eq 0 ]; then ls . | bat; else ls "$@" | bat; fi;
}

# ───────────────────────────────────────────────────────────────────────────│─╗
# │ Application startup                                                    ─╬─│┼
# ╚────────────────────────────────────────────────────────────────────────────│

# Startup redis
function redis() {
 redis-server /usr/local/etc/redis.conf
}

# ───────────────────────────────────────────────────────────────────────────│─╗
# │ Git utilities                                                          ─╬─│┼
# ╚────────────────────────────────────────────────────────────────────────────│

# See total lines of code in a git repo
function loc() {
  git ls-files | xargs wc -l
}

# See total number of commits
function noc() {
  git rev-list --count HEAD
}

# Open all modified git files in vim
function vmo {
    nvim $(git status --porcelain | awk '{print $2}')
}

# ───────────────────────────────────────────────────────────────────────────│─╗
# │ Misc                                                                   ─╬─│┼
# ╚────────────────────────────────────────────────────────────────────────────│

# Fetch bitcoin price information
function btc() {
  curl rate.sx/btc
}

# Generate a SHA-256 hash
function sha() {
  echo -n "$@" | shasum -a 256
}

function sol() {
  touch solution."$*" && vi solution."$*"
}

function note() {
  local notes_dir="$HOME/Dropbox/Notes"
  case "$1" in
    c)
      cd "$notes_dir" || exit
      ;;
    l)
      tree "$notes_dir" -L 1
      ;;
    *)
      vim "$notes_dir/$1"
  esac
}

function journal() {
  local journal_dir="$HOME/Dropbox/Notes/journal"
  case "$1" in
    new)
      cd "$journal_dir" || exit
      vi "$(date -u '+%Y-%m-%d')".md
      ;;
  esac
}
