[submodule "submodules/dotbot"]
	path = submodules/dotbot
	url = http://github.com/anishathalye/dotbot.git
[submodule "submodules/vundle"]
	path = submodules/vundle
	url = http://github.com/gmarik/vundle.git
