*.swo
*.swp
*~

.DS_Store

/etc/asciinema/install-id

/etc/configstore

/etc/pi/agent/*.lock/
/etc/pi/agent/auth.json
/etc/pi/agent/bin/
/etc/pi/agent/crashes.json
/etc/pi/agent/git/
/etc/pi/agent/models-store.json
/etc/pi/agent/npm/
/etc/pi/agent/oauth.json
/etc/pi/agent/pi-debug.log
/etc/pi/agent/sessions/
/etc/pi/agent/settings.json.bak.*
/etc/pi/agent/tmp/

/etc/vim/black
/etc/vim/plugged/*

/etc/vscode/extensions

/etc/zsh/compdump

/notes.md

__pycache__/
node_modules/
target/
