snippet ex "example"
\begin{example}
  $1
\end{example}
endsnippet

snippet def "definition"
\begin{definition}[$1]
  $2
\end{definition}
endsnippet

snippet proof "proof"
\begin{proof}
  $1
\end{proof}
endsnippet

snippet theorem "theorem"
\begin{theorem}[$1]
  $2
\end{theorem}
endsnippet

snippet prop "proposition"
\begin{proposition}
  $1
\end{proposition}
endsnippet
